.container-card {
    background-color: rgb(255, 255, 255) !important;
    border-radius: 1rem;
    height: 35rem;
    width: 100%;
    margin-bottom: 16px;
    padding: 0;
}

.img-card-mod {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.container-card:hover {
    /* background-color: aquamarine !important; */
    height: 34.5rem;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.359) !important;
    transform: translateY(-2px) scale(1.03);
}

.cor-produto {
    color: #007bff;
    font-weight: bold;
}

.tipo-produto {
    color: #28a745;
    font-weight: bold;
}

.material-produto {
    color: #6c757d;
    font-weight: bold;
}

@media (max-width: 576px) {

    .container-card {
        height: 28rem; /* Reduzido de 45rem para 28rem */
        width: 100%;
        margin-bottom: 16px;
        padding: 0;
    }

    .container-card:hover {
        height: 27.8rem; /* Ajuste proporcional */
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.359) !important;
        transform: translateY(-2px) scale(1.01);
    }

    .card {
        width: 100%;
        min-width: 0;
    }

    .img-card-mod {
        width: 100%;
        height: 180px; /* Limita a altura da imagem no mobile */
        object-fit: cover;
    }

}